$textColor: rgb(37,37,37);
$linkColor: rgba(0,163,239,1);
$linkColorUnderline: rgba(0,163,239,.35);
$mainSprite: url("/img/ex_sprite.png"); 

body {
  color: $textColor;
  
  font: {
    size: 13px;
    family: Arial;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  border-bottom: 1px dashed $linkColorUnderline;

  &:hover {
    border-bottom: none;
  }
}