<tr>
 <td width=17><img src='/i/i_disk.jpg' width=17 height=17 border=0></td>
 <td><span class=small>_POS_.</span><br><a href='/get_KEY_URL_/_UPLOAD_ID_' title='_NAME_'_REL_>_NAME_SHORT_</a>_FAST_INFO_</td>
 <td align=center width=110>&nbsp;_DO_PLAY__INFO_PICTURE_</td>
 <td align=right width=230 class=small><b>_SIZE_</b><p>_CREATE_TIME_<br><a href='/search?s=md5:_MD5_' rel='nofollow'>_MD5_</a>_INFO_<p><span class="mail-add"></span><span class=r_button_small><a href='/load_KEY_URL_/_UPLOAD_ID_' rel='nofollow'>{*711}загрузить{/711}</a></span>_DO_TORRENT__DO_MOVE__DO_GPS_<p>_FS_LIST_</td>
</tr>
