<div style="overflow:auto; margin-top:10px">
	<div style="border:1px solid #ddd; padding:10px; clear:both; float:left;">
		<b>
		<span style="color:#e00">УВАЖАЕМЫЕ ПОЛЬЗОВАТЕЛИ ИНТЕРНЕТ!</span><br/>
		<br/>
		У Вас нет доступа к <span style="color:#e00">EX.ua</span> или низкая скорость скачивания?<br/>
		У Вас плохо грузится видео и аудио?<br/>
		<br/>
		<span style="color:#e00">ОБРАТИТЕСЬ К СВОЕМУ ПРОВАЙДЕРУ!</span><br/>
		<br/>
		Проблема ему известна, он может её решить, но мы не можем повлиять на его желание сделать это.<br/>
		Вы оплачиваете услугу доступа к сети Интернет?<br/>
		Поэтому требуйте ее качественного предоставления.<br/>
		<br/>
		Подбор лучшего провайдера - <a target="_blank" style="color:#e00" href="http://www.multitest.ua/">www.multitest.ua</a><br/>
		<br/>
		<span style="color:#e00">
			Контактный телефон:<br/><br/>
			(067) 778-59-44<br/>
			(044) 379-29-98<br/>
			(044) 361-03-20<br/>
		</span>
		</b>
	</div>
</div>
